---
title: Welcome to Middleman
---

<% partial 'partials/logo' %>

<h1>Middleman is Running</h1>

<ul>
  <% data.blog.post.each do |id, entry| %>
    <li><a href="/<%= entry.slug %>.html"><%= entry.title %></a></li>
  <% end %>
</ul>
